body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-weight: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: left;
    color: #252E3E;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;

    &.no-scroll {
        overflow: hidden;
    }

    &.body-fixed {
        margin-top: 86px;

        @media (max-width: 570px) {
            margin-top: 53px;
        }
    }
}

/* Размеры скроллбара */

body::-webkit-scrollbar {
    width: 8px;
}


/* Трек поле скроллбара */

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #ffffff;
    background: #ffffff;
    border-radius: 10px;
}


/* Ползунок скроллбара */

body::-webkit-scrollbar-thumb {
    background: #3B3F45;
    border-radius: 10px;
    position: relative;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
}

ul,
li,
li,
a,
input,
textarea,
label,
div {
    box-sizing: border-box;
}

ol,
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a,
button {
    transition: all 0.3s ease;

    &:focus {
        outline: none!important;
    }
}

.button {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    padding: 15px 43px;
    background: #466EB6;
    border-radius: 25px;
    border: 0;
    cursor: pointer;
    text-decoration: none;

    &:hover {
        background: #334f83;
        color: #ffffff;
        text-decoration: none;
    }
}

.container {
    padding: 0;
    position: relative;
    margin: auto;
    max-width: 1440px;
    padding: 0 20px;

    @media (max-width: 1320px) {
        padding: 0 20px;
    }
}

.header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 86px;
    background: #466EB6;

    @media (max-width: 570px) {
        background: transparent;
        padding: 12px 20px;
        height: auto;
        position: relative;
        z-index: 10;
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 1440px;
        margin: auto;

        @media (max-width: 1600px) {
            padding: 0 20px;
        }

        @media (max-width: 570px) {
            display: none;
        }

        &--mobile {
            display: none;

            @media (max-width: 570px) {
                display: flex;

                .logo {
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                }

                .menu {
                    display: none!important;
                    position: absolute;
                    top: 45px;
                    left: 20px;
                    width: 148px;
                    height: 180px;
                    background: #ffffff;
                    z-index: 10;
                    padding: 16px;
                    flex-direction: column;

                    &.d-block {
                        display: block!important;
                    }

                    &__item {
                        width: 100%!important;
                        height: 27px!important;
                        margin-bottom: 13px!important;
                        justify-content: flex-start!important;

                        a {
                            font-weight: 400!important;
                            font-size: 20px!important;
                            line-height: 27px!important;
                            color: #252E3E!important;
                            text-align: left!important;
                        }
                    }
                }
            }
        }
    }

    .menu {
        display: flex;
        align-items: center;

        &__item {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 290px;
            height: 57px;
            border-left: 1px solid #ffffff;
            position: relative;

            a {
                display: block;
                font-style: normal;
                font-weight: 600;
                font-size: 32px;
                line-height: 44px;
                color: #ffffff;
            }

            .submenu {
                position: absolute;
                display: none;
                background: #466EB6;
                width: 100%;
                top: 50px;
                left: 0;
                padding-top: 23px;
                z-index: 10;

                @media (max-width: 570px) {
                    display: none;
                }
                
                &__item {
                    a {
                        padding: 15px 24px;
                        text-align: center;
                    }

                    &:first-child {
                        border-bottom: 1px solid #ffffff;
                    }
                }
            }

            &:hover .submenu {
                display: block;

                @media (max-width: 570px) {
                    display: none;
                }
            }

            &:last-child {
                border-right: 1px solid #ffffff;
            }
        }
    }

    &-fixed {
        position: fixed;
        width: 100%;
        z-index: 100;
        top: 0;

        @media (max-width: 570px) {
            background: #ffffff;
        }
    }
}

.offer {
    padding: 110px 0 77.5px;
    position: relative;

    @media (max-width: 570px) {
        padding: 40px 0 25px;
    }

    &:before {
        content: '';
        width: 282px;
        height: 174px;
        background: #51BFA6;
        filter: blur(250px);
        position: absolute;
        left: -30px;
        bottom: -224px;
    }

    &__image {
        display: none;

        @media (max-width: 570px) {
            display: block;
            margin-bottom: 10px;

            img {
                width: 100%;
                max-width: 354px;
                margin-left: 17px;
                margin-right: 17px;
            }
        }
    }

    &__content {
        .container {
            background: url('../images/jpg/offer-image.png') no-repeat right -10px bottom -45px;

            @media (max-width: 570px) {
                background: none;
            }
        }

        &--info {
            max-width: 658px;
        }
    }

    &__title {
        font-family: 'Lato', sans-serif;
        font-weight: 600;
        font-size: 64px;
        line-height: 77px;
        color: #252E3E;
        text-align: left;
        margin-bottom: 60px;

        @media (max-width: 570px) {
            font-weight: 500;
            font-size: 24px;
            line-height: 29px;
            margin-bottom: 0;
            position: relative;

            @media (max-width: 570px) {
                &:before {
                    content: '';
                    width: 61px;
                    height: 88px;
                    background: #F7CC7E;
                    filter: blur(75px);
                    position: absolute;
                    left: -25px;
                    top: -120px;
                }
            }
        }
    }

    &__desc {
        font-weight: 400;
        font-size: 32px;
        line-height: 44px;
        color: #252E3E;
        text-align: left;
        position: relative;

        @media (max-width: 570px) {
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            margin-bottom: 17px;
        }

        &:before {
            content: '';
            width: 231px;
            height: 226px;
            background: #F7CC7E;
            filter: blur(250px);
            position: absolute;
            left: -115px;
            top: -50px;
        }
    }

    &__button {
        margin-top: 80px;

        @media (max-width: 570px) {
            margin-top: 0;
            padding: 10px 30px;
            font-size: 16px;
            line-height: 22px;
            border-radius: 15px;
            position: relative;
            z-index: 10;
        }
    }
}

.catalog {
    padding: 77.5px 0;
    position: relative;

    @media (max-width: 570px) {
        padding: 25px 0 40px;
    }

    &:before {
        content: '';
        position: absolute;
        width: 78px;
        height: 78px;
        background: url('../images/svg/tablet.svg') no-repeat;
        left: 72px;
        top: 200px;

        @media (max-width: 570px) {
            width: 22px;
            height: 22px;
            right: 0;
            top: 0;
            left: auto;
            background: url('../images/svg/tablet.svg') no-repeat;
            background-size: 100% 100%;
        }
    }

    &:after {
        content: '';
        width: 110px;
        height: 342px;
        background: #51BFA6;
        filter: blur(150px);
        position: absolute;
        right: 0;
        top: 0;

        @media (max-width: 570px) {
            width: 61px;
            height: 68px;
            background: #51BFA6;
            filter: blur(75px);
            left: 7px;
            top: 0;
        }
    }

    .nav-tabs {
        border: 0;
        justify-content: center;
        margin-bottom: 100px;

        @media (max-width: 570px) {
            margin-bottom: 60px;
        }

        .nav-item:first-child {
            .nav-link {
                padding-top: 5px;

                img {
                    margin-bottom: 9px;

                    @media (max-width: 570px) {
                        margin-bottom: 0;
                    }
                }

                @media (max-width: 570px) {
                    padding-top: 0;
                }
            }
        }

        .nav-link {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-weight: 400;
            font-size: 32px;
            line-height: 44px;
            color: #252E3E;
            padding: 0 0 4px;
            margin: 0 64px;
            background: transparent;
            border: 0;
            border-bottom: 7px solid transparent;
            height: 202px;

            @media (max-width: 570px) {
                margin: 0 17px;
                height: 100px;
            }

            &:hover {
                border: 0;
                border-bottom: 7px solid transparent;
            }
    
            &.active {
                border: 0;
                border-bottom: 7px solid #F7CC7E;

                &:hover {
                    border: 0;
                    border-bottom: 7px solid #F7CC7E;
                }
            }

            span {
                @media (max-width: 570px) {
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 27px;
                }
            }
        }
    }

    .nav-tabs .nav-link img {
        margin-bottom: 4px;

        @media (max-width: 570px) {
            max-width: 60px;
            margin-bottom: 0;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: 259px 259px 259px 259px;
        row-gap: 56px;
        column-gap: 64px;
        max-width: max-content;
        margin: auto;
        position: relative;
        z-index: 10;

        @media (max-width: 570px) {
            grid-template-columns: auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            row-gap: 15px;
            column-gap: 26px;
        }

        @media (max-width: 380px) {
            column-gap: 15px;
        }

        &:before {
            content: '';
            position: absolute;
            width: 78px;
            height: 78px;
            background: url('../images/svg/tablet-2.svg') no-repeat;
            left: -260px;
            top: 760px;

            @media (max-width: 570px) {
                width: 20px;
                height: 19px;
                background-size: 100% 100%;
                left: -20px;
                top: auto;
                bottom: -80px;
            }
        }

        &:after {
            content: '';
            position: absolute;
            width: 87px;
            height: 87px;
            background: url('../images/svg/tablet-3.svg') no-repeat;
            right: -240px;
            top: 550px;

            @media (max-width: 570px) {
                content: none;
            }

        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        width: 259px;
        height: 476px;
        border: 2px solid #466EB6;
        border-radius: 27px;
        padding: 15px 10px 27px 10px;
        background: #ffffff;

        @media (max-width: 570px) {
            width: 46%;
            max-width: max-content;
            padding: 15px 10px 23px 10px;
            height: 300px;
        }

        &--img {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 190px;
            overflow: hidden;
            margin-bottom: 26px;

            @media (max-width: 570px) {
                height: 100px;
                margin-bottom: 16px;

                img {
                    width: 100%;
                }
            }
        }

        &--title {
            font-size: 23px;
            text-align: center;

            @media (max-width: 570px) {
                font-size: 16px;
                line-height: 22px;
            }

            @media (max-width: 380px) {
                font-size: 13px;
                line-height: 18px;
            }

            @media (max-width: 321px) {
                font-size: 12px;
                line-height: 16px;
            }
        }

        &--btn {
            display: flex;
            justify-content: center;
            margin-top: auto;

            .button {
                font-weight: 500;
                font-size: 20px;
                line-height: 27px;
                padding: 15px 30px;
                border-radius: 9px;

                @media (max-width: 570px) {
                    width: 100%;
                    font-size: 16px;
                    line-height: 22px;
                    padding: 10px 30px;
                    border-radius: 15px;
                }

                @media (max-width: 380px) {
                    padding: 10px 20px;
                }

                @media (max-width: 321px) {
                    padding: 10px;
                    border-radius: 10px;
                    font-size: 14px;
                }
            }
        }
    }
}

.skills {
    padding: 77.5px 0 114px;
    position: relative;

    @media (max-width: 570px) {
        padding: 40px 0 70px;
    }

    &:before {
        content: '';
        width: 177px;
        height: 491px;
        background: #51BFA6;
        filter: blur(250px);
        position: absolute;
        left: -33px;
        top: -852px;

        @media (max-width: 570px) {
            width: 61px;
            height: 126px;
            right: -30px;
            top: 140px;
            left: auto;
            background: #51BFA6;
            filter: blur(75px);
            z-index: 1;
        }
    }

    &:after {
        content: '';
        width: 169px;
        height: 453px;
        background: #F7CC7E;
        filter: blur(253.5px);
        position: absolute;
        right: -38px;
        top: -687px;

        @media (max-width: 570px) {
            content: none;
        }
    }

    &__list {
        max-width: 992px;
        display: flex;
        justify-content: space-between;
        margin: auto;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            width: 72px;
            height: 72px;
            background: url('../images/svg/plus.svg') no-repeat;
            right: -346px;
            top: -336px;

            @media (max-width: 570px) {
                content: none;
            }
        }
    }

    &__item {
        text-align: center;

        @media (max-width: 570px) {
            width: 30%;
        }

        &--title {
            font-size: 23px;
            max-width: 250px;
            margin: 30px auto 0;
            color: #1B366D;
            text-align: center;

            @media (max-width: 570px) {
                font-size: 15px;
                line-height: 20px;
                max-width: 109px;
            }
        }

        &--img {
            @media (max-width: 570px) {
                margin-bottom: 17px;
                img {
                    max-width: 40px;
                }
            }
        }
    }
}

.life {
    padding-bottom: 175px;

    @media (max-width: 570px) {
        padding-bottom: 70px;
    }

    &__info {
        &--row {
            display: flex;

            @media (max-width: 570px) {
                flex-direction: column;
                margin-bottom: 0;
            }

            &:first-child {
                margin-bottom: 52px;

                @media (max-width: 570px) {
                    margin-bottom: 17px;
                }
            }
        }

        &--img {
            @media (max-width: 570px) {
                margin-bottom: 24px;

                img {
                    width: 100%;
                    max-width: 319px;
                    margin-left: 33px;
                    margin-right: 33px;
                }
            }
        }

        &--title {
            text-align: left;
            font-weight: 600;
            font-size: 32px;
            line-height: 44px;
            color: #252E3E;
            margin-bottom: 35px;
            margin-top: 43px;

            @media (max-width: 570px) {
                font-size: 16px;
                line-height: 22px;
                margin-top: 0;
                margin-bottom: 17px;
            }
        }

        &--desc {
            font-weight: 400;
            font-size: 32px;
            line-height: 44px;
            text-align: justify;
            color: #252E3E;

            @media (max-width: 570px) {
                font-size: 16px;
                line-height: 22px;
            }
        }

        &--text {
            font-weight: 400;
            font-size: 32px;
            line-height: 44px;
            text-align: justify;
            color: #252E3E;

            @media (max-width: 570px) {
                font-size: 16px;
                line-height: 22px;
            }
        }
    }
}

.feedback {
    padding: 0 0 150px;

    @media (max-width: 570px) {
        padding-bottom: 40px;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            width: 27px;
            height: 25px;
            background: url('../images/svg/tablet-3.svg') no-repeat;
            right: 10px;
            top: 0px;
            background-size: 100% 100%;
            z-index: 2;
        }

        &:before {
            content: '';
            position: absolute;
            width: 61px;
            height: 123px;
            right: -14px;
            top: 0px;
            background: #F7CC7E;
            filter: blur(75px);
            z-index: 1;
        }
    }

    &__info {
        display: flex;
        justify-content: space-between;

        @media (max-width: 570px) {
            flex-direction: column;
        }

        &--left {
            max-width: 730px;

            @media (max-width: 570px) {
                order: 1;
            }
        }

        &--right {
            margin-top: 60px;
            margin-right: -20px;

            @media (max-width: 570px) {
                order: 0;
                margin-top: 0;
                margin-right: 0;
                margin-bottom: 56px;

                img {
                    display: block;
                    max-width: 297px;
                    margin: auto;
                }
            }
        }

        &--title {
            font-weight: 500;
            font-size: 36px;
            line-height: 49px;
            color: #252E3E;
            margin-bottom: 29px;
            text-align: left;

            @media (max-width: 570px) {
                font-size: 20px;
                line-height: 27px;
                margin-bottom: 20px;
                max-width: 263px;
            }
        }

        &--desc {
            font-weight: 400;
            font-size: 32px;
            line-height: 44px;
            color: #252E3E;
            text-align: left;
            margin-bottom: 78px;

            @media (max-width: 570px) {
                font-size: 16px;
                line-height: 22px;
                margin-bottom: 27px;
            }
        }
    }

    &__bottom {
        font-weight: 400;
        font-size: 24px;
        line-height: 33px;
        color: #252E3E;
        text-align: left;
        margin-top: 58px;

        @media (max-width: 570px) {
            font-weight: 300;
            font-size: 12px;
            line-height: 16px;
            margin-top: 37px;
            max-width: 316px;
        }
    }
}

.form {
    &__input {
        margin-bottom: 29px;

        @media (max-width: 570px) {
            margin-bottom: 18px;
        }

        input {
            background: #FFFFFF;
            border: 2px solid #466EB6;
            border-radius: 25px;
            padding: 0 20px;
            height: 70px;
            font-weight: 600;
            font-size: 24px;
            line-height: 33px;
            color: #252E3E;
            width: 100%;

            @media (max-width: 570px) {
                height: 43px;
                font-size: 14px;
                line-height: 19px;
                padding: 0 20px;
                background: #FFFFFF;
                border: 1px solid #466EB6;
                border-radius: 15px;
            }

            &::placeholder {
                color: #DBDBDB;
            }
        }
    }

    &__btn {
        button {
            padding: 15px 60px;
            font-weight: 700;
            font-size: 24px;
            line-height: 33px;

            @media (max-width: 570px) {
                font-size: 16px;
                line-height: 22px;
                padding: 10px 30px;
                border-radius: 15px;
            }
        }
    }
}

.modal {
    &-dialog {
        max-width: 1366px;
    }

    &-content {
        border-radius: 0;
    }

    &-header {
        padding: 0;
        width: max-content;
        height: auto;
        border: 0;
        position: absolute;
        right: 48px;
        top: 48px;
        z-index: 1000;

        @media (max-width: 570px) {
            right: 30px;
            top: 35px;
        }

        .close {
            padding: 0;
            opacity: 1;

            @media (max-width: 570px) {
                img {
                    width: 35px;
                    height: 35px;
                }
            }

            &:hover {
                opacity: 0.7;
            }
        }
    }

    &__title {
        font-weight: 500;
        font-size: 36px;
        line-height: 49px;
        color: #000000;
        margin-bottom: 25px;

        @media (max-width: 570px) {
            font-size: 20px;
            line-height: 27px;
        }
    }

    &__info {
        display: flex;

        @media (max-width: 570px) {
            flex-direction: column;
            margin-bottom: 35px;
        }

        &--left {
            @media (max-width: 570px) {
                order: 1;
            }
        }

        &--right {
            margin-left: 46px;
            margin-top: 75px;

            @media (max-width: 570px) {
                order: 0;
            }

            img {
                margin-right: -100px;

                @media (max-width: 570px) {
                    margin-right: 0;
                    margin: auto;
                    max-width: 259px;
                    margin-bottom: 50px;
                }
            }
        }

        .modal__title {
            @media (max-width: 570px) {
                position: absolute;
                top: 34px;
            }
        }
    }

    &__text {
        margin-bottom: 69px;

        @media (max-width: 570px) {
            margin-bottom: 35px;
        }

        &:last-child {
            margin-bottom: 0;
        }

        p {
            font-weight: 400;
            font-size: 32px;
            line-height: 44px;
            text-align: justify;
            color: #000000;
            margin-bottom: 30px;

            @media (max-width: 570px) {
                font-size: 16px;
                line-height: 22px;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        ul {
            margin-top: -30px;
            padding-left: 30px;

            @media (max-width: 570px) {
                padding-left: 15px;
            }

            li {
                font-weight: 400;
                font-size: 32px;
                line-height: 44px;
                text-align: justify;
                color: #000000;
                position: relative;

                @media (max-width: 570px) {
                    font-size: 16px;
                    line-height: 22px;
                }

                &:before {
                    content: '';
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                    background: #000000;
                    position: absolute;
                    left: -20px;
                    top: 18px;

                    @media (max-width: 570px) {
                        width: 6px;
                        height: 6px;
                        left: -10px;
                        top: 9px;
                    }
                }
            }
        }
    }

    &-body {
        padding: 55px 123px;

        @media (max-width: 570px) {
            padding: 34px 20px;
        }

        &.gepatit {
            .modal__title {
                font-weight: 600;
                font-size: 24px;
                line-height: 33px;
                color: #252E3E;
                margin-bottom: 10px;

                @media (max-width: 570px) {
                    font-size: 20px;
                    line-height: 27px;
                }
            }

            .modal__text {
                margin-bottom: 25px;
                max-width: 1041px;

                p {
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 33px;
                    color: #252E3E;
                }

                &.small {
                    p {
                        font-size: 20px;
                        line-height: 27px;
                    }
                }
            }

            .modal__info {
                &--tg {
                    margin-left: 48px;

                    @media (max-width: 570px) {
                        margin-left: 5px;
                        position: absolute;
                        bottom: 44px;
                        left: 85px;

                        img {
                            width: 28px;
                        }
                    }

                    @media (max-width: 430px) {
                        left: 140px;
                    }

                    @media (max-width: 380px) {
                        left: 140px;
                    }
                }
            }
        }
    }

    &.gepatit {
        .close {
            img {
                width: 51px;
                height: 51px;
            }

            @media (max-width: 570px) {
                img {
                    width: 35px;
                    height: 35px;
                }
            }
        }

        .modal__title {
            @media (max-width: 570px) {
                font-size: 16px;
                line-height: 19px;
                position: relative;
                margin-bottom: 5px;
            }

            &:first-child {
                @media (max-width: 570px) {
                    font-size: 20px;
                    line-height: 27px;
                    position: relative;
                    margin-bottom: 15px;
                }
            }

            &:last-child {
                @media (max-width: 570px) {
                    font-size: 14px;
                    line-height: 19px;
                    position: relative;
                }
            }
        }

        .modal__text {
            @media (max-width: 570px) {
                margin-bottom: 15px;
            }
        }

        .modal__text p {
            @media (max-width: 570px) {
                font-size: 16px;
                line-height: 22px;
            }
        }

        .modal__text.small p {
            font-weight: 400;
            font-size: 20px;
            line-height: 27px;

            @media (max-width: 570px) {
                font-weight: 300;
            font-size: 14px;
            line-height: 19px;
            }
        }
    }
}

.footer {
    padding-top: 314px;
    height: 847px;
    background: url("../images/svg/footer.svg") no-repeat center / cover;

    @media (max-width: 570px) {
        padding-top: 91px;
        background-size: 150%;
        height: 287px;
    }

    @media (max-width: 380px) {
        height: auto;
        padding-top: 100px;
        padding-bottom: 20px;
        background: url("../images/svg/footer.svg") no-repeat bottom / cover;
    }

    &__tg {
        display: flex;
        justify-content: center;

        img {
            margin-left: -210px;

            @media (max-width: 570px) {
                max-width: 114px;
                margin-left: -40px;
            }
        }
    }

    &__title {
        margin-top: 17px;
        font-weight: 600;
        font-size: 40px;
        line-height: 55px;
        color: #FFFFFF;
        text-align: center;
        margin-bottom: 42px;

        @media (max-width: 570px) {
            font-size: 20px;
            line-height: 27px;
            margin-bottom: 13px;
            margin-top: 7px;
        }
    }

    &__btn {
        display: flex;
        justify-content: center;

        .button {
            background: #FFFFFF;
            border-radius: 25px;
            font-weight: 600;
            font-size: 32px;
            line-height: 44px;
            color: #466EB6;
            padding: 17px 83px;

            @media (max-width: 570px) {
                padding: 10px 42px;
                font-size: 16px;
                line-height: 22px;
                border-radius: 15px;
            }

            &:hover {
                opacity: 0.7;
            }
        }
    }
}

